$grey: #9c9c9c;
$lightGrey10: lighten($grey, 10);
$lightGrey: #F5F5F5;
$blue: #2E55D0;
$lightGreen: #c5e1a5;
$brightGreen: #7cb342;
$lightblue: #CCE0F7;
$lightIndigo: #9FA8DA;
$lightOrange: #ffcc80;
$lightPurple: #ce93d8;
