@import "colors";

.drop-in{
  background-color: $lightPurple;
}

.active{
  background-color: $lightGreen;
}

.lead{
  background-color: $lightOrange;
}

.former{
  background-color: $lightGrey;
}

.contact{
  background-color: $lightIndigo;
}

.new {
  background-color: $lightblue;
}
