<div class="app-container">
  <app-top-filters [members]="allMembers" (memberFiltered)="setFilterStatus($event)" [selected]="selectedMembers"></app-top-filters>

  <div class="main">
    <mat-card>
      <div class="member-filters">
        <mat-form-field class="filter">
          <input matInput (keyup)="filter()" [(ngModel)]="searchedName" >
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field class="filter">
          <mat-label>Location</mat-label>
          <mat-select (selectionChange)="filter()" [(ngModel)]="selectedLocation">
            <mat-option [value]="">All</mat-option>
            <mat-option *ngFor="let office of offices" [value]="office.name">
              {{office.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="filter">
          <mat-label>Company: </mat-label>
          <mat-select (selectionChange)="filter()" [(ngModel)]="selectedCompany">
            <mat-option [value]="">All</mat-option>
            <mat-option *ngFor="let team of teams" [value]="team.name">
              {{team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-members [members]="members"
                   [allMembers]="allMembers"
                   [teams]="teams"
                   [offices]="offices"
                   (selectedRows)="setSelectedRows($event)"
      ></app-members>
    </mat-card>
  </div>
</div>
